/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
													/*Mon code : PARTIE GALERIE*/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 305px);
	grid-column-gap: 20px;
	grid-row-gap: 40px;
	justify-content: center;
}

.gallery img {
	width: 100%;

}

.gallery figcaption {
	margin: 3px 0 0 0;
}

.figureGallery {
	width: 305px;
	height: 407px;
}

.btn-filter:hover {
	background-color:#1D6154;
	color: white;

}

#gallery-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 150px 0 30px 0;
}

#gallery-title-button {
	height:18px;
	font-size: 14px;
	margin: 0 0 30px 0;
	border: none;
	font-family: "Work Sans";
	background-color: white;
}

.hidden {
	display: none;
}
													/*Mon code : PARTIE FILTRER*/
.btn-filter-div{
	display:flex;
	justify-content: center;
	gap:10px;
	margin: 0 0 50px 0;
}
.btn-filter-div.hidden {
	 display: none; 
}

.btn-filter{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height:37px;
	border:1px solid #1D6154;
	border-radius:60px;
	margin: 0;
	padding: 20px;
	color:#1D6154;
	font-size:16px;
	font-family: 'Syne', sans-serif;
}

													/*Mon code : PARTIE SE CONNECTER*/
.login-page {
	display:flex;
	flex-direction: column;
	height: 100%;
	background-color: #FFFEF8;
}

nav img {
	height:22px;
	width:22px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	margin: 100px 0 250px 0;
}

.form {
	display: flex;
	flex-direction: column;
	width:379px;
}
.form label {
	margin: 5px;
}
.form h2 {
	font-size: 30px;
	font-weight: bold;
}
.form input {
	height: 51px;
	border: 0px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
}
.form p {
	color: #3D3D3D;
	font-family: "Work Sans";
	font-size:14px;
}
.lien {
	color: #3D3D3D;
	font-family: "Work Sans";
	font-size:14px;
	text-decoration: underline; 
  	text-decoration-color: #3D3D3D;
}
.form-button {
	font-family: "Syne";
	color:white;
	background-color:#1D6154;
	width:179px;
	height:36px;
	border-radius: 60px;
	border: 0px;
}
.form-button:hover {
	background-color:#0E2F28;
}

li a, li a:visited{
	text-decoration: none;
	color: inherit; 
}

#login-li {
	font-weight:bold;
}


															/* Mode édition*/
.edition-banner {
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:16px;
	font-family: "Work Sans";
}
															/*Partie Modale*/
#modal-container.hidden {
	 display: none; 
	}

#modal-container{
	position: fixed;
	background: rgba(0,0,0,0.6); 
	inset: 0;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
#modal-content {
	background-color: white;
	width:630px;
	
	border-radius:10px;
	text-align: center;
}

.divContenu {
	width: 420px;
	margin: auto;
}
.divCloseBack {
	display: flex;
	justify-content: space-between;
	margin: 30px 30px 0 30px;
}

#divCloseButton {
	display: flex;
	justify-content: flex-end;
	margin: 30px 30px 0 30px;
}

#closeIcon, #backIcon {
	font-size:24px;
}

.backCloseButton {
    background-color: white;
    border: none;
}

.gallery-title {
	text-align: center;
	font-family: "Work Sans";
	color: black;
	font-weight: 400;
	font-size:26px;
	
}

.modale-gallery {
	width: 420px;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(5, 76.61px);
	row-gap:30px;
    column-gap: 10px;
	margin: 50px auto 0 auto;
}
.modale-gallery  img {
	width: 76.61px;
	height: auto;
	margin:auto;
}
.modal-hr {
	margin: 60px 0 0 0;
}

.addPhoto {
	margin:35px 0;
	width:237px;
	height:36px;
	border-radius:60px;
	color: white;
	background-color: #1D6154;
	font-family: "Syne";
	font-size: 14px;
	font-weight: bold;
	border: none;
}

.addPhoto:hover {
	background-color:#0E2F28;
}

.modal-img-div{
	width:78.63px;
	height:102.57px;
}

.delete-button {
    color: white;
    background-color: black;
    border: none;
    position: relative;
    bottom: 98px;
    left: 55px;
    font-size: 12px;
	font-weight:500;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
	}
.delete-button:hover{
	background-color: rgb(79, 79, 79);
}

.divForm {
	width: 420px;
	margin: 30px auto 40px auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.formTitle {
	font-family: "Work sans";
  	font-size: 26px;
	color: #000000;
	margin: 0 0 20px 0;
}
.divDepot {
	display: flex;
	flex-direction: column;
	background-color: #E8F1F6;
	height: 169px;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	gap: 10px;
	width: 420px;
}

#pictureIcon {
	font-size: 76px;
    margin: 20px 0 0 0;
    color: #B9C5CC;
}

#add-input {
	width: 173px;
    height: 36px;
    border: none;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #CBD6DC;
    color: #306685;
    font-family: "Work Sans";
    font-size: 16px;
}

.divDepot p {
	font-size:10px;
    margin: 0 0 20px 0;
    color:#444444;
}

.divChamp {
	display:flex;
    flex-direction: column;
    font-family: "Work sans";
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500
}

#textarea, #categorySelect {
  height: 51px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin: 10px 0 0 0;
}

.divChamp label {
	display: flex;
	justify-content: flex-start;
}

#labelSelect {
	margin: 20px 0 0 0;
}

hr {
	margin: 20px 0;
	width: 100%;
	height: 1px;
	background-color: #B3B3B3;
	border: none;
}

.buttonValider {
	background-color: #A7A7A7;
	color: white;
	border: none;
	width:237px;
	height:36px;
	margin:auto;
	border-radius: 60px;
	font-family: "Work sans";
	font-size: 14px;
}

													/* A REVOIR prévisualisation*/ 
.image-preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
													/* A REVOIR bouton qui devient vert et cliquable une fois les champs remplis*/ 
.buttonValider {								
  background-color: gray;
  cursor: not-allowed;
  transition: background-color 0.3s;
}

.buttonValider.active {
  background-color: green;
  cursor: pointer;
}


															/*Fin partie modale*/

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}





#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

